<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arhakim.fintechresponsi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.arhakim.fintechresponsi.menu.InputKodeActivity"></activity>
        <activity android:name="com.arhakim.fintechresponsi.menu.PaymentActivity" />
        <activity android:name="com.arhakim.fintechresponsi.menu.HistoryActivity" />
        <activity android:name="com.arhakim.fintechresponsi.menu.AccountActivity" />
        <activity
            android:name="com.arhakim.fintechresponsi.SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.arhakim.fintechresponsi.autentikasi.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.arhakim.fintechresponsi.autentikasi.RegisterActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.arhakim.fintechresponsi.autentikasi.ForgetActivity"
            android:label="FORGET"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.arhakim.fintechresponsi.MainActivity"
            android:label="Homeskrin"
            android:theme="@style/Theme.ResponsiFintechFixAamiin" />
    </application>

</manifest>